---
# Publishing all NPM packages to the npm registry when the version number changes
# See https://github.com/marketplace/actions/npm-publish for more information
name: Publish package to npmjs
on:
    push:
        branches: dev

permissions:
  id-token: write
  contents: read

jobs:
    # Publish the lib to the NPM registry
    publish-typescript-bindings:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: '24'
                  registry-url: 'https://registry.npmjs.org'
            - run: npm ci
            - uses: JS-DevTools/npm-publish@v4
              id: publish
              with:
                  access: 'public'
                  provenance: true
            - if: ${{ steps.publish.outputs.type }}
              run: echo "Version changed!"
